* {
    font-family: 'Lexend', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}
body {
    background: url(../img/background.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: unset;
    padding-top: 5px;
    margin: auto;
}
.container {
    padding: 10px;
    width: 900px;
    margin: auto;
    background-color:rgba(50,128,138, 0.5);
}

.text-center {
    text-align: center;   
    border-radius: 5px; 
}

.icon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 10px;
    column-gap: 35px;
    padding-top: 10px;
    margin-top: 5px;
    border-radius: 5px;
}

.timer, .moves {
    background-color: rgba(255, 255, 255,0.5);
    display: block;
    padding: 5px 35px;
    font-size: 2em;
}

@keyframes strike { /* animazione quando si indovina */
    0% {transform: rotate(0deg) scale(100%); box-shadow: 20px 20px 50px 10px orange inset;}
    20% {transform: rotate(45deg) scale(110%); box-shadow: 20px 20px 50px 10px orange inset;}
    40% {transform: rotate(90deg) scale(120%); box-shadow: 20px 20px 50px 10px orangered inset;}
    60% {transform: rotate(135deg) scale(140%); box-shadow: 20px 20px 50px 10px orangered inset;}
    80% {transform: rotate(180deg) scale(115%); box-shadow: 20px 20px 50px 10px orange inset;}
    100% {transform: rotate(270deg) scale(105%); box-shadow: 20px 20px 50px 10px orange inset;}
}

@keyframes touch { /* animazione al tocco delle card */
    0% { box-shadow: 0 0 0 5px rgba(0, 251, 255, 0.6);}
    10% { box-shadow: 0 0 0 10px rgba(0, 251, 255, 0.1);}
    50% { box-shadow: 0 0 0 10px rgba(0, 251, 255, 0);}
    100% { box-shadow: 0 0 0 0 rgba(0, 251, 255, 0);}
}

.icon {
    width: 100px;
    height: 100px;
    font-size: 70px;
    text-align: center;
    visibility: visible !important;
    opacity: 0;
    cursor: pointer;
    border: none;
}

#griglia>div {
    background-color: rgb(251, 250, 214);
    border: 1px solid #3889c4;
    border-radius: 5px;
    width: 100px; /* la grandezza del div determina la hitbox del mouse */
    height: 100px;
}

.show {
    animation: touch 4s linear;
    background-color: rgb(254, 252, 166);
    opacity: 1;
    visibility: visible;
    animation-duration: .5s;
    border-radius: 5px;
    width: 100px; /* setta hitbox completa */
    height: 100px;
}

.find {
    animation: strike 0.3s linear;
    background-color: rgba(247, 212, 16, 0.56);
    border: none;
    width: 100px;
    height: 100px;
}

.disabled {
    pointer-events: none;
    cursor: wait;
    width: 100px;
    height: 100px;
}

#btnEasy, #btnNormal, #btnHard, #btnMenu, #btnMute, #btnUnmute {
    animation: touch 0.5 linear;
    color: black;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
    padding: 10px 50px;
    background-color: rgb(255, 119, 0);
    border: 1px solid #3889c4;
    border-radius: 5px;
}

#btnMenu, #btnMute, #btnUnmute {
    padding: 10px;
}

#btnEasy:hover, #btnNormal:hover, #btnHard:hover, #btnMenu:hover, #btnMute:hover, #btnUnmute:hover {
    background-color: orangered;
}

@media (max-width: 600px) { /* Tablet */
    body {
        margin-top: 10px;
        background-repeat: unset;
    }
    .container {
        width: 400px;
    }
    .icon-grid {
        row-gap: 0;
        column-gap: 0;
    }
    .icon {
        width: 72px;
        height: 72px;
        font-size: 50px;
    }
    #griglia>div {
        margin: 10px;
        width: 72px;
        height: 72px;
    }
    .show { /* setta hitbox completa */
        width: 72px;
        height: 72px;
    }
    .find {
        border: none;
        width: 72px;
        height: 72px;
    }
    .disabled {
        width: 72px;
        height: 72px;
    }
    #btnEasy, #btnNormal, #btnHard, #btnMenu, #btnMute, #btnUnmute {
        font-size: 20px;
        padding: 5px 9px;
    }
    .timer, .moves {
        font-size: 1.4em;
        padding: 5px 20px;
    }
}

@media (max-width: 420px) { /* Mobile */
    body {
        margin-top: 50px;
        background-repeat: no-repeat;
        background-color: #07161f;
    }
    .container {
        width: 230px;
    }
    .icon-grid {
        row-gap: 0;
        column-gap: 0;
    }
    .icon {
        width: 42px;
        height: 42px;
        font-size: 27px;
    }
    #griglia>div {
        margin: 5px 5px;
        width: 42px;
        height: 42px;
    }
    .show { /* setta hitbox completa */
        width: 42px;
        height: 42px;
    }
    .find {
        border: none;
        background-color: rgba(247, 212, 16, 0.56);
        width: 42px;
        height: 42px;
    }
    .disabled {
        width: 42px;
        height: 42px;
    }
    #btnEasy, #btnNormal, #btnHard, #btnMenu, #btnMute, #btnUnmute {
        font-size: 20px;
        padding: 5px 9px;
    }
    .timer, .moves {
        font-size: 0.9em;
        padding: 5px 35px;
    }
}
