@import 'variables';
* {
    font-family: 'Lexend', sans-serif;
}
html {
    width: 100%;
    height: 100%;
}

body {
    background: url(../img/background.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: unset;
    margin: auto;
    .container {
        padding: 10px;
        width: 1280px;
        margin: auto;
    }
    #griglia>div {
        @include saber-theme;
        background: url(../img/back.png);
        background-size: cover;
        width: 115px;
        height: 115px;
        margin: 10px;
        padding: 0;
    }
    #griglia>div img {
        border-radius: 5px;
        width: 115px;
        height: 115px;
    }
    .icon-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 10px;
        margin-top: 5px;
        @include saber-theme;
        border-bottom: 1px solid #3889c4;
    }
    .text-center {
        text-align: center;   
        @include saber-theme;
        border-top: 1px solid #3889c4;
    }
    .score-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .timer, .moves {
        display: block;
        padding: 5px 35px;
        margin: 0 5px;
        font-size: 1.4em;
        cursor: default;
        @include saber-theme;
    }
    #btnEasy, #btnNormal, #btnHard, #btnMenu, #btnMute, #btnUnmute {
        animation: touch 0.5 linear;
        cursor: pointer;
        font-size: 1.4em;
        text-align: center;
        padding: 8px 40px;
        margin: 10px 5px 0 5px;
        @include saber-theme;
    }
    #btnEasy:hover, #btnNormal:hover, #btnHard:hover, #btnMenu:hover, #btnMute:hover, #btnUnmute:hover {
        background-color: blue;
    }

    /* ------------- Div Icone Selezionate ------------ */

    @keyframes strike { /* animazione quando si indovina */
        0% {transform: rotate(0deg) scale(100%); box-shadow: 20px 20px 50px 10px orange inset;}
        20% {transform: rotate(45deg) scale(110%); box-shadow: 20px 20px 50px 10px orange inset;}
        40% {transform: rotate(90deg) scale(120%); box-shadow: 20px 20px 50px 10px orangered inset;}
        60% {transform: rotate(135deg) scale(140%); box-shadow: 20px 20px 50px 10px orangered inset;}
        80% {transform: rotate(180deg) scale(115%); box-shadow: 20px 20px 50px 10px orange inset;}
        100% {transform: rotate(270deg) scale(105%); box-shadow: 20px 20px 50px 10px orange inset;}
    }
    @keyframes touch { /* animazione al tocco delle card */
        0% { box-shadow: 0 0 0 5px rgba(0, 251, 255, 0.6);}
        10% { box-shadow: 0 0 0 10px rgba(0, 251, 255, 0.1);}
        50% { box-shadow: 0 0 0 10px rgba(0, 251, 255, 0);}
        100% { box-shadow: 0 0 0 0 rgba(0, 251, 255, 0);}
    }
    .icon {
        text-align: center;
        visibility: visible !important;
        opacity: 0;
        cursor: pointer;
        border: none;
        @include desktop-size;
    }
    .show {
        animation: touch 4s linear;
        opacity: 1;
        visibility: visible;
        animation-duration: .5s;
        border-radius: 5px;
        @include desktop-size;
    }
    .find {
        animation: strike 0.3s linear;
        border: none;

    }
    .disabled {
        pointer-events: none;
        @include desktop-size;
    }
}

/* ------------- Media Queries ------------ */

@media (max-width: 900px) { /* Tablet */

    body {
        background-repeat: unset;
        .container {
            width: 690px;
        }
        #griglia>div {
            margin: 10px;
            padding: 0;
            @include tablet-size; // la grandezza del div determina la hitbox
        }
        #griglia>div img, .icon, .show, .find, .disabled {
            @include tablet-size;
        }
        .icon-grid {
            row-gap: 0;
            column-gap: 0;
            padding: 10px;
            margin-top: 50px;
        }
        .score-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
        }
        .timer, .moves {
            font-size: 1.3em;
            padding: 5px 20px;
        }
        #btnEasy, #btnNormal, #btnHard, #btnMenu, #btnMute, #btnUnmute {
            font-size: 1.3em;
            padding: 5px 9px;
            margin: 10px 5px 3px 5px;
        }
    }
}

@media (max-width: 480px) { /* Mobile */

    body {
        margin: 0;
        padding: 0;
        background-repeat: no-repeat;
        background-color: #07161f;
        .container {
            width: 370px;
        }
        #griglia>div {
            margin: 5px 5px;
            padding: 0;
            @include mobile-size;
        }
        #griglia>div img, .icon, .show, .find, .disabled {
            @include mobile-size;
        }
        .icon-grid {
            row-gap: 0;
            column-gap: 0;
            padding: 5px;
            margin-top: 0;
        }
        .text-center {
            padding: 5px;
        }
        .timer, .moves {
            font-size: 0.9em;
        }
        #btnEasy, #btnNormal, #btnHard, #btnMenu, #btnMute, #btnUnmute {
            font-size: 0.9em;
            padding: 2px 8px;
            margin: 8px 3px 3px 3px;
        }
    }
}













